.field {
    height:100px;
    margin:5px; padding:10px; border:1px solid lightgray;
}

.createArticle {
    position: relative;
    background:#1b2538;
    box-shadow: 0px 0px 0px 5px #1b2538;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: white;
}