/**
* 管理画面側のデザイン
**/

/* 背景色 */
body.body {
    background-color: #f3f5e9;
}

/* navメニュー */
.menu-list {
    font-size: 15px;
}

/* カードタイトル */
.card-title {
    font-family: 'Cabin Sketch', cursive;
}

/* ログインページ */
.login-container {
    padding-top: 40px;
}
button.login-button {
    margin-left: 5px;
}

/* フォーム設定 */
.form-list {
    margin: 10px 0 10px 0;
    padding-right: 10px;
} 