/**
* 管理画面側のデザイン
**/

/* 背景色 */
body.body {
    background-color: #f8fcd5;
}

/* navメニュー */
.menu-list {
    font-size: 15px;
}

/* カードタイトル */
.card-title {
    font-family: 'Cabin Sketch', cursive;
}