/* *
* 管理画面側のデザイン
**/

/* 背景色 */
body.body {
    background-color: #fafcef;
    zoom: 1.2;
}

/* navメニュー */
.menu-list {
    font-size: 15px;
}

/* タイトルテキスト */
span.title-text {
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}

/* エラーメッセージ */
.error_message {
    font-size: 13px;
}

/* カード */
/* div.card {
    background-color: #e6e7e9;
} */

/* テーブルカラムの文字カラー */
tr.th-text {
    color: white;
}

/* カードタイトル */
h1.card-title {
    font-family: 'Cabin Sketch', cursive;
}
.card-container {
    padding: 40px 0 30px 0;
}

/* ログインページ */
button.login-button {
    margin-left: 5px;
}
label.login-text {
    font-size: 13px;
}

/* フォーム設定 */
.form-list {
    margin: 10px 0 10px 0;
    padding-right: 10px;
} 

.content_explanation {
    padding: 5px 0 10px 0;
}

.text-danger {
    padding-left: 5px;
}

/* テーブルのローディングデザイン */
.loader {
    display: inline-block}
    
  @-webkit-keyframes ball-scale-multiple {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0; }
    5% {
      opacity: 1; }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0; } }
  
  @keyframes ball-scale-multiple {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0; }
    5% {
      opacity: 1; }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0; } }
  
  .ball-scale-multiple {
    position: relative;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
    .ball-scale-multiple > div:nth-child(2) {
      -webkit-animation-delay: -0.4s;
              animation-delay: -0.4s; }
    .ball-scale-multiple > div:nth-child(3) {
      -webkit-animation-delay: -0.2s;
              animation-delay: -0.2s; }
    .ball-scale-multiple > div {
      background-color: SlateBlue;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 2px;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      position: absolute;
      left: -30px;
      top: 0px;
      opacity: 0;
      margin: 0;
      width: 60px;
      height: 60px;
      -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
              animation: ball-scale-multiple 1s 0s linear infinite; }